/* Project Section Start */
.projects-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.projects-section-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.project-section-heading {
  color: #fff;
  font-family: Raleway;
  font-size: larger;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.project-section-filters {
  display: flex;
}
.project-section-top-filter-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: 1px solid rgba(123, 74, 226, 0.5);
}

.project-section-top-filter-image {
  display: flex;
}
.projects-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.project-cards {
  display: flex;
  flex-direction: column;
  background: rgba(123, 74, 226, 0.1);
  border: none;
  width: 16rem;
  max-width: 16rem;
  max-height: 17rem;
  height: 17rem;
  border-radius: 1rem;
  gap: 0.4rem;
  overflow: unset;
  padding: 1rem;
  cursor: pointer;
}
.project-cards:hover {
  border: 1px solid rgba(123, 74, 226, 0.5);
  background: none;
}
.project-card-heading {
  width: 100%;
  color: #fff;
  font-family: Raleway;
  font-size: medium;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  word-wrap: break-word;
}
.project-card-description {
  width: 100%;
  height: 35%;
  color: rgba(255, 255, 255, 0.5);
  font-family: Raleway;
  font-size: smaller;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  word-wrap: break-word;
  overflow: auto;
}
.project-card-description::-webkit-scrollbar {
  width: 1px;
}
.project-card-tech-used {
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
}
.project-tech-used {
  padding: 2%;
  border-radius: 0.5rem;
  background-color: rgba(123, 74, 226, 0.1);
  color: #7b4ae2;
  text-align: center;
  font-size: x-small;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}
.project-card-image {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

/* Project Section Ent */
/* Mob Screen CSS */
@media screen and (max-width: 622px) {
  .project-cards {
    border: none;
    width: 70%;
    max-width: 70%;
    max-height: 22rem;
    height: 22rem;
    border-radius: 1rem;
    gap: 0.4rem;
    overflow: unset;
    padding: 1rem;
    cursor: pointer;
  }
}
